header {
  display: flex;
  background-color: var(--secundary-color);
  max-width: 100%;
  height: 100px;
  justify-content: space-between;
}

header .logo {
  display: flex;
  width: 370px;
  justify-content: center;
  align-items: center;
}

header .logo h1 {
  border-right: 2px solid var(--primary-color);
  padding: 24px 20px 24px 20px;
  color: var(--primary-color);
  font-size: 34px;
}

header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 1066px;
}

header .nav-list {
  color: var(--third-color);
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 28px;
  gap: 100px;
  margin-right: 70px;
}

header .nav-list-item {
  list-style: none;
}

header .login-register {
  color: var(--third-color);
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  font-size: 28px;
  gap: 50px;
  margin-right: 50px;
}

header .login {
  border-left: solid 2px var(--third-color);
  padding: 20px 0 20px 60px;
  font-weight: 600;
}

header .register {
  border-left: solid 2px var(--third-color);
  padding-left: 50px;
  font-weight: 600;
}

.selected {
  border-bottom: 2px solid var(--primary-color);
  font-weight: 600;
}
